
.label {margin-right:5px;margin-bottom:5px !important;display:inline-block;} #wrapper {
    position: relative;
}
.content{width:1080px;}
.content-wrapper, .right-side {
    min-height: 100%;
    background-color: 
    #D9E0E7;
    z-index: 800;
}

.skin-blue .main-header .navbar {
    background-color: 
    #222B32 !important;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: 
#fff;
text-decoration: none;
background-color:
    #222B32;
    outline: 0;
}

input {
    padding:5px;
}
input.error {
    border:1px solid #99182c;
}
span.arrow {
    height:17px;
    background: url('http://i45.tinypic.com/f9ifz6.png') no-repeat center left;
    top:4px;
}
label.error {
    border-top:1px solid #99182c;
    border-bottom:1px solid #99182c;
    border-right:1px solid #99182c;    
    color:black;
    padding:1px 5px 1px 5px;
    font-size:small;

}